body {
  font-family: "Feather Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
  color: white;
}

/* definers */

:root {
  --color-main: rgb(32, 35, 42);
  --color-secondary: rgb(24, 27, 36);
  --color-gold: rgb(218, 151, 42);
  --color-gold-2: rgb(181, 126, 37);
  --color-gold-3: rgb(144, 101, 32);
  --color-gold-4: rgb(107, 76, 27);
  --color-bg: rgb(28,31,39);
  --color-outline: #57595f66;
  --drop-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --widget-z: 1;
  --widget-z-d: 2;
  --widget-z-b: 3;
}

.fa-solid {
  font-size: 1.75em;
  color: var(--color-gold);
}

/* main button */

.menu-open-icon {
  color: var(--color-gold) !important;
  font-size: 2.75rem !important;
}

#btn-menu-open {
  width: 100px;
  height: 100px;
  background-color: var(--color-main);
  border-radius: 100%;
  filter: drop-shadow(0 5px 0 var(--color-secondary));
  border: 3px solid var(--color-secondary);
  cursor: pointer;
  transition: ease opacity .5s, background-color 0.25s;
  position: absolute;
  z-index: 9999;
}

#btn-menu-open:hover {
  transform: translate(0, 5px);
  filter: none;
  clip-path: circle(50%);
}

#btn-menu-open:active {
  filter: drop-shadow(0 -10px 0 var(--color-secondary));
  transform: translate(0, 20px);
  clip-path: circle(50% at 50px 40px);
  background-color: var(--color-secondary);
}

/* door */

#door-main {
  width: 100vw;
  height:  100vh;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* delete this later */
  opacity: 0;
  z-index: -9999;
}

#door-sub-left {
  height: 100%;
  width: 50%;
  background-color: var(--color-main);
  box-sizing: border-box;
  border-right: 2px solid var(--color-secondary);
  transition: ease 2s;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

#door-sub-right {
  height: 100%;
  width: 50%;
  background-color: var(--color-main);
  box-sizing: border-box;
  border-left: 2px solid var(--color-secondary);
  transition: ease 2s;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.door-lines {
  width: 80%;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://img.freepik.com/premium-photo/black-white-strip-line-warning-sign-pattern_65873-14.jpg);
  border-radius: 20px;
  opacity: .01;
  z-index: inherit;
}

.door-lines::before {
  position: absolute;
  border-radius: 20px;
  opacity: 1;
  z-index: inherit;
  background-color: rgb(32, 35, 43);
}

/* main */

main {
  height: 95vh;
  width: 95vw;
  position: absolute;
  display: grid;
  padding: 30px;
  grid-template-rows: repeat(3 minmax(175px));
  grid-template-columns: repeat(4 minmax(175px));
  grid-gap: 1em ;
}

/* music container */

.music-cont {
  background-color: var(--color-main);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s border;
  border: solid 1px transparent;
  box-shadow: var(--drop-shadow);
  overflow: hidden;
  grid-row: span 2;
  grid-column: span 3;
}

.music-cont:hover {
  background-color: var(--color-outline);
  border: solid 1px var(--color-outline);
}

.music-section {
  position: absolute;
}

/* music buttons internal */

.music-btns {
  color: var(--color-gold-2);
}

#music-plps {
  margin-left: 3px;
}

#btn-music-left, #btn-music-right, #btn-music-control {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--color-gold);
  border: none;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

#btn-music-left:hover, #btn-music-right:hover, #btn-music-control:hover {
  filter: drop-shadow(0 -7px 0 var(--color-secondary));
  transform: translate(0, 7px);
  clip-path: circle(50% at 25px 18px);
  background-color: var(--color-gold-2);
}

#music-btn:hover .music-btns {
  color: var(--color-gold-3);
}


#btn-music-left:active, #btn-music-right:active, #btn-music-control:active {
  filter: drop-shadow(0 -12px 0 var(--color-secondary));
  transform: translate(0, 14px);
  clip-path: circle(50% at 25px 10px);
  background-color: rgb(49, 0, 0);
}

/* music door area */

#music-door-main {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
}

#music-door-left {
  height: 100%;
  width: 50%;
  background-color: var(--color-main);
  box-sizing: border-box;
  border-right: 2px solid var(--color-secondary);
  transition: ease 2s;
  z-index: var(--widget-z-d);
  display: flex;
}

#music-door-right {
  height: 100%;
  width: 50%;
  background-color: var(--color-main);
  box-sizing: border-box;
  border-left: 2px solid var(--color-secondary);
  transition: ease 2s;
  z-index: var(--widget-z-d);
  display: flex;
}

/* button to open music area */

#btn-music-open {
  width: 70px;
  height: 70px;
  background-color: var(--color-main);
  border-radius: 100%;
  filter: drop-shadow(0 5px 0 var(--color-secondary));
  border: 3px solid var(--color-secondary);
  cursor: pointer;
  transition: ease opacity .5s, background-color 0.25s;
  position: absolute;
  z-index: var(--widget-z-b);
}

#btn-music-open:hover {
  transform: translate(0, 10px);
  filter: none;
  clip-path: circle(50%);
}

#btn-music-open:active {
  filter: drop-shadow(0 -10px 0 var(--color-secondary));
  transform: translate(0, 20px);
  clip-path: circle(50% at 35px 30px);
  background-color: var(--color-secondary);
}

#btn-music-open:active > .fa-music {
  color: var(--color-gold-3);
}

/* art container */

.art-cont {
  background-color: var(--color-main);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s border;
  border: solid 1px transparent;
  box-shadow: var(--drop-shadow);
  overflow: hidden;
  grid-row: 1 / 5;
  grid-column: 4 / 4;
}

.art-cont:hover {
  background-color: var(--color-outline);
  border: solid 1px var(--color-outline);
}

.art-section {
  width: 100%;
  height: 100%;
}

#art-door {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
}

#art-door-left {
  height: 100%;
  width: 50%;
  background-color: var(--color-main);
  box-sizing: border-box;
  border-right: 2px solid var(--color-secondary);
  transition: ease 2s;
  z-index: var(--widget-z-d);
  display: flex;
}

#art-door-right {
  height: 100%;
  width: 50%;
  background-color: var(--color-main);
  box-sizing: border-box;
  border-left: 2px solid var(--color-secondary);
  transition: ease 2s;
  z-index: var(--widget-z-d);
  display: flex;
}

/* art opening button */

#art-door-btn {
  width: 70px;
  height: 70px;
  background-color: var(--color-main);
  border-radius: 100%;
  filter: drop-shadow(0 5px 0 var(--color-secondary));
  border: 3px solid var(--color-secondary);
  cursor: pointer;
  transition: ease opacity .5s, background-color 0.25s;
  position: absolute;
  z-index: var(--widget-z-b);
  display: flex;
  justify-content: center;
  align-items: center;
}

#art-door-btn:hover {
  transform: translate(0, 10px);
  filter: none;
  clip-path: circle(50%);
}

#art-door-btn:active {
  filter: drop-shadow(0 -10px 0 var(--color-secondary));
  transform: translate(0, 20px);
  clip-path: circle(50% at 35px 30px);
  background-color: var(--color-secondary);
}

#art-door-btn:active > .fa-file-image {
  color: var(--color-gold-3);
}



/* art inner */

#art-inner {
  grid-template-columns: repeat(1 minmax(100px));
  grid-template-rows: repeat(9 minmax(100px));
  grid-gap: 1em;
}

.art-img {
  grid-row: 1;
  grid-column: 1;
  background-color: lime;
}

/* work on later */

.painting-cont {
  background-color: var(--color-main);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s border;
  border: solid 1px transparent;
  box-shadow: var(--drop-shadow);
  overflow: hidden;
  grid-row: 3 / 5;
  grid-column: 1 / 3;
}

.painting-cont:hover {
  background-color: var(--color-outline);
  border: solid 1px var(--color-outline);
}

.studio-cont {
  background-color: var(--color-main);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s border;
  border: solid 1px transparent;
  box-shadow: var(--drop-shadow);
  overflow: hidden;
  grid-row: 3 / 5;
  grid-column: 3 / 4;
}

.studio-cont:hover {
  background-color: var(--color-outline);
  border: solid 1px var(--color-outline);
}
